@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap');

.signup .signup-item{
 border:1px solid black;
 height: 600px;
 margin-top: 70px;
 margin-left: 250px;  
 width: 600px;
 padding-top: 50px;
 padding-left: 50px;
 border-radius: 20px;
}
.signup .signup-item .control{
   margin-left: 200px;
   margin-top: 50px;
}
.signup .signup-item .signup-links{
   margin-left: 250px;
   margin-top: 30px;
}
/*Login css*/
.login .login-item{
   border:1px solid black;
   height: 500px;
   margin-top: 70px;
   margin-left: 250px;  
   width: 600px;
   padding-top: 50px;
   padding-left: 50px;
   border-radius: 20px;
}
.login .login-item .control{
   margin-left: 200px;
   margin-top: 50px;
}

.login .login-item .login-links{
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
  margin-top: 30px;
}

/*Forget Css*/
.forget .forget-item{
   border:1px solid black;
   height: 600px;
   margin-top: 70px;
   margin-left: 250px;  
   width: 600px;
   padding-top: 50px;
   padding-left: 50px;
   border-radius: 20px;
}
.forget .forget-item .control{
   margin-left: 200px;
   margin-top: 50px;
}
.forget .forget-links{
   display: flex;
   justify-content: space-between;
   margin-right: 15px;
   margin-top: 30px;
}
/*Topbar css*/

.topbar{
   width: 100vw;
   max-width: 100%;
   background: black;
   display: felx;
   flex-direction: row;
   gap:5rem;
   display: grid;
}

/*Add Inventory Css*/
.add-inventory .control{
   margin-left: 550px;
   margin-top: 30px;
}
